@import "tailwindcss";

::selection {
  background-color: #51a2ff;
  color: white;
}

.description{
  font-size: .9em;
}
.timeDetail{
  font-size: small;
}

.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  gap: 30px;
}

.my-masonry-grid_column {
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 20px;
}


