@import "tailwindcss";

::selection {
  background-color: #51a2ff; /* Change this to your desired color */
  color: white; /* Optional: Change the text color */
}

.description{
  font-size: .9em;
}
.timeDetail{
  font-size: small;
}